
#
# Audience earSmart codecs
#
CONFIG_SND_SOC_ES705=y
CONFIG_SND_SOC_ES_I2C=y
CONFIG_SND_SOC_ESXXX_UPDATE_VEQ_TABLE=y
CONFIG_SWITCH_ANTENNA=y
CONFIG_SWITCH_ANTENNA_IF=y
# CONFIG_SWITCH_ANTENNA_EARJACK is not set
# CONFIG_SWITCH_ANTENNA_EARJACK_IF is not set
