#
# CDMA QMUX MODEL
#
CONFIG_MSM_HSIC_SYSMON=y
# CONFIG_MSM_HSIC_SYSMON_TEST is not set
CONFIG_MSM_SUBSYSTEM_RESTART=y
CONFIG_MSM_SYSMON_COMM=y
CONFIG_PCI_EXYNOS_REDUCE_RESET_WAIT=y
CONFIG_RMNET_DATA=y
# CONFIG_RMNET_DATA_FC is not set
CONFIG_RMNET_DATA_DEBUG_PKT=y
# CONFIG_IPC_ROUTER_SECURITY is not set
# CONFIG_SEC_MODEM_V1 is not set
# CONFIG_LINK_DEVICE_SPI is not set
# CONFIG_LINK_DEVICE_MEMORY is not set
# CONFIG_LINK_POWER_MANAGEMENT is not set
# CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM is not set
# CONFIG_LINK_CONTROL_MSG_COMMAND is not set
# CONFIG_LINK_DEVICE_WITH_SBD_ARCH is not set
# CONFIG_LINK_DEVICE_LLI is not set
# CONFIG_UMTS_MODEM_SS333 is not set
CONFIG_FM_RADIO=y
CONFIG_FM_SI4705=y
# CONFIG_DIAGFWD_BRIDGE_CODE is not set
CONFIG_SND_SOC_ES705=y
CONFIG_SND_SOC_ES_I2C=y
CONFIG_SND_SOC_ESXXX_VEQ_EXTENDEDVOLUME=y
CONFIG_USB_EHCI_HCD=y
# CONFIG_USB_EHCI_ROOT_HUB_TT is not set
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_EHCI_S5P=y
# CONFIG_USB_EHCI_HCD_PLATFORM is not set
CONFIG_USB_SERIAL_CSVT=y
# CONFIG_USB_EXYNOS_SWITCH is not set
CONFIG_USB_QCOM_DIAG_BRIDGE=y
# CONFIG_USB_QCOM_DIAG_BRIDGE_TEST is not set
CONFIG_USB_QCOM_MDM_BRIDGE=y
CONFIG_USB_QCOM_KS_BRIDGE=y
CONFIG_USB_QCOM_IPC_BRIDGE=y
CONFIG_SAMSUNG_USB2PHY=y
# CONFIG_SAMSUNG_DWC_USB2PHY is not set
CONFIG_SAMSUNG_USB2PHY_CAL=y
# CONFIG_SWITCH_ANTENNA_EARJACK is not set
CONFIG_SWITCH_ANTENNA_EARJACK_IF=y
# CONFIG_ESOC_DEV is not set
# CONFIG_ESOC_CLIENT is not set
# CONFIG_ESOC_DEBUG is not set
# CONFIG_ESOC_MDM_4x is not set
# CONFIG_ESOC_MDM_DRV is not set
# CONFIG_MDM_HSIC_PM is not set
# CONFIG_MHI=y
# CONFIG_MHI_RMNET_DUMP=y
//CONFIG_SENSORS_SSP_STM=y
//CONFIG_SENSORS_SSP_ATUC128L5HAR=y
//CONFIG_SENSORS_SSP_BMP280=y
//CONFIG_SENSORS_SSP_AK09911=y
//# CONFIG_SENSORS_SSP_LPS25H is not set
//# CONFIG_SENSORS_SSP_BBD is not set
//# CONFIG_SENSORS_SSP_YAS537 is not set
//# CONFIG_SENSORS_SSP_SX9306 is not set
# CONFIG_GPS_BCMxxxxx is not set
# CONFIG_GPS_BCM47531 is not set
CONFIG_MSM_IPC_ROUTER_HSIC_XPRT=y
CONFIG_MSM_QMI_INTERFACE=y
CONFIG_QMI_ENCDEC=y

