#
#
# Helios defconfig
#
CONFIG_MORO_SOUND=y
CONFIG_LEDS_MAX77833_RGB_CONTROL=y
CONFIG_LEDS_MAX77843_RGB_CONTROL=y
CONFIG_SSRM_CAMERA_INFO=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
CONFIG_DYNAMIC_FSYNC=y
CONFIG_LCD_DOZE_MODE=y
CONFIG_STATE_NOTIFIER=y
# CONFIG_PM_SYNC_BEFORE_SUSPEND is not set
CONFIG_WIREGUARD=y
# CONFIG_WIREGUARD_DEBUG is not set
# CONFIG_EXYNOS5_DYNAMIC_CPU_HOTPLUG is not set
# CONFIG_EXYNOS5_DYNAMIC_CPU_HOTPLUG_SLEEP_PREPARE is not set
# CONFIG_PM_WAKELOCKS_GC is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_ADVANCED_DEBUG is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_EXYNOS_APM_VOLTAGE_DEBUG is not set
# CONFIG_TIMA_LOG is not set
# CONFIG_DM_VERITY is not set
CONFIG_INPUT_JOYSTICK=y
# CONFIG_JOYSTICK_ANALOG is not set
# CONFIG_JOYSTICK_A3D is not set
# CONFIG_JOYSTICK_ADI is not set
# CONFIG_JOYSTICK_COBRA is not set
# CONFIG_JOYSTICK_GF2K is not set
# CONFIG_JOYSTICK_GRIP is not set
# CONFIG_JOYSTICK_GRIP_MP is not set
# CONFIG_JOYSTICK_GUILLEMOT is not set
# CONFIG_JOYSTICK_INTERACT is not set
# CONFIG_JOYSTICK_SIDEWINDER is not set
# CONFIG_JOYSTICK_TMDC is not set
# CONFIG_JOYSTICK_IFORCE is not set
# CONFIG_JOYSTICK_WARRIOR is not set
# CONFIG_JOYSTICK_MAGELLAN is not set
# CONFIG_JOYSTICK_SPACEORB is not set
# CONFIG_JOYSTICK_SPACEBALL is not set
# CONFIG_JOYSTICK_STINGER is not set
# CONFIG_JOYSTICK_TWIDJOY is not set
# CONFIG_JOYSTICK_ZHENHUA is not set
# CONFIG_JOYSTICK_AS5011 is not set
# CONFIG_JOYSTICK_JOYDUMP is not set
CONFIG_JOYSTICK_XPAD=y
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y
# CONFIG_USB_DEBUG is not set
# CONFIG_USB_DEBUG_DETAILED_LOG is not set
# CONFIG_SEC_AVC_LOG is not set
# CONFIG_SEC_DEBUG_TSP_LOG is not set
# CONFIG_SEC_DEBUG_TIMA_LOG is not set
# CONFIG_SEC_PM_DEBUG is not set
CONFIG_NTFS_FS=m
# CONFIG_NTFS_DEBUG is not set
CONFIG_NTFS_RW=y
# CONFIG_PROC_STLOG is not set
# CONFIG_DEBUG_BUGVERBOSE is not set
# CONFIG_NOP_TRACER is not set
# CONFIG_TRACE_CLOCK is not set
# CONFIG_RING_BUFFER is not set
# CONFIG_EVENT_TRACING is not set
# CONFIG_GPU_TRACEPOINTS is not set
# CONFIG_CONTEXT_SWITCH_TRACER is not set
# CONFIG_TRACING is not set
# CONFIG_FTRACE is not set
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4HC_COMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_TOUCHSCREEN_DOUBLETAP2WAKE=y
CONFIG_TOUCHSCREEN_PREVENT_SLEEP=y
CONFIG_FRANDOM=y
CONFIG_BATTERY_CONTROL=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
