#
#
# Helios defconfig
#
CONFIG_MORO_SOUND=y
CONFIG_LEDS_MAX77833_RGB_CONTROL=y
CONFIG_LEDS_MAX77843_RGB_CONTROL=y
CONFIG_SSRM_CAMERA_INFO=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
CONFIG_DYNAMIC_FSYNC=y
