CONFIG_CHECK_SIMSLOT_COUNT=y
CONFIG_KEYBOARD_CYPRESS_TOUCH_MBR31X5=y
# CONFIG_EXYNOS_DECON_LCD_MCD is not set
# CONFIG_LCD_ALPM is not set
# CONFIG_PANEL_S6E3HF2_DYNAMIC is not set
CONFIG_PANEL_S6E3HA2_DYNAMIC=y
# CONFIG_FIX_CHG_FQ_4MHZ is not set
