# CONFIG_CHECK_SIMSLOT_COUNT is not set
# CONFIG_KEYBOARD_CYPRESS_TOUCH_MBR31X5 is not set
CONFIG_EXYNOS_DECON_LCD_MCD=y
# CONFIG_LCD_ALPM is not set
CONFIG_PANEL_S6E3HF2_DYNAMIC=y
# CONFIG_PANEL_S6E3HA2_DYNAMIC is not set
CONFIG_FIX_CHG_FQ_4MHZ=y
