on init
#carrier
    mkdir /carrier 0771 system system

on fs
#carrier
    wait /dev/block/platform/15570000.ufs/by-name/CARRIER
    check_fs /dev/block/platform/15570000.ufs/by-name/CARRIER ext4
    mount ext4 /dev/block/platform/15570000.ufs/by-name/CARRIER /carrier nosuid nodev barrier=1
    chown system system /carrier
    chmod 0771 /carrier
    restorecon -R /carrier

# Create carrier folder for HiddenMenu
on post-fs
     mkdir /efs/carrier 0755 system system

# New IMS Stack
service imsd /system/bin/imsd
    class main
    socket imsd stream 0660 system system
    user root
    group system radio net_raw inet net_admin readproc
